In [ ]:
!pip install -U gensim

Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (4.2.0)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.4.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (6.0.0)
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.21.6)

In [ ]:
import pandas as pd
import numpy as np
import gensim
from sklearn.linear_model import LogisticRegression
from gensim.models.doc2vec import TaggedDocument
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.multiclass import OneVsRestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.svm import SVC
from tqdm import tqdm
tqdm.pandas(desc="progress-bar")
from gensim.models import Doc2Vec
import multiprocessing
from sklearn import utils
from sklearn.model_selection import train_test_split
from gensim.parsing.preprocessing import remove_stopwords
from gensim.utils import simple_preprocess
from gensim.parsing.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
import re
import nltk

import itertools
from gensim.similarities import MatrixSimilarity
from gensim.parsing.preprocessing import preprocess_documents
from gensim.parsing.preprocessing import preprocess_string

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
resumeDf = pd.read_csv("Resume.csv")
resumeDf

,id,category,resume
0,1,software developer,SOFTWARE DEVELOPER INTERN ...
1,2,software developer,SOFTWARE DEVELOPER Professional...
2,3,software developer,GIS ANALYST/SOFTWARE DEVELOPER ...
3,4,software developer,SENIOR SOFTWARE DEVELOPER Caree...
4,5,software developer,SENIOR SOFTWARE DEVELOPER Summa...
...,...,...,...
436,545,java developer,GRADUATE RESEARCH ASSISTANT Pro...
437,546,java developer,GRADUATE RESEARCH ASSISTANT ...
438,547,java developer,STUDENT ASSISTANT Qualificati...
439,548,java developer,YW TEAM LEAD Summary ...
440,549,java developer,SENIOR APPLICATION ADMINISTRATOR & SO...

In [ ]:
def clean(text):
    text = re.sub('http\S+\s*', ' ', text)  # remove URLs
    text = re.sub('RT|cc', ' ', text)  # remove RT and cc
    text = re.sub('#\S+', '', text)  # remove hashtags
    text = re.sub('@\S+', '  ', text)  # remove mentions
    text = re.sub('[%s]' % re.escape("""!"$%&'()*,-/:;<=>?@[\]^_`{|}~"""), ' ', text)  # remove punctuations
    text = re.sub(r'[^\x00-\x7f]',r' ', text) 
    text = re.sub('\s+', ' ', text)  # remove extra whitespace
    return text

In [ ]:
resumeDf['cleaned_resume'] = ""

#cleaning data
resumeDf['cleaned_resume'] = resumeDf.resume.apply(lambda x: clean(x))

# Removing the stop words
resumeDf['cleaned_resume'] = resumeDf.cleaned_resume.apply(lambda x: remove_stopwords(x))

# Tokenize the text column
resumeDf['cleaned_resume'] = [simple_preprocess(line, deacc=True) for line in resumeDf['cleaned_resume']] 

# Get the stemmed_tokens
porter_stemmer = PorterStemmer()
resumeDf['cleaned_resume'] = [[porter_stemmer.stem(word) for word in tokens] for tokens in resumeDf['cleaned_resume'] ]

# get the lammatized tokens
lemmatizer = WordNetLemmatizer() 
resumeDf['cleaned_resume'] = [[lemmatizer.lemmatize(word) for word in tokens] for tokens in resumeDf['cleaned_resume'] ]

In [ ]:
resumeDf

,id,category,resume,cleaned_resume
0,1,software developer,SOFTWARE DEVELOPER INTERN ...,"[softwar, develop, intern, summari, skill, pro..."
1,2,software developer,SOFTWARE DEVELOPER Professional...,"[softwar, develop, profession, summari, to, ob..."
2,3,software developer,GIS ANALYST/SOFTWARE DEVELOPER ...,"[gi, analyst, softwar, develop, summari, to, c..."
3,4,software developer,SENIOR SOFTWARE DEVELOPER Caree...,"[senior, softwar, develop, career, focu, to, w..."
4,5,software developer,SENIOR SOFTWARE DEVELOPER Summa...,"[senior, softwar, develop, summari, oracl, cer..."
...,...,...,...,...
436,545,java developer,GRADUATE RESEARCH ASSISTANT Pro...,"[graduat, research, assist, profession, profil..."
437,546,java developer,GRADUATE RESEARCH ASSISTANT ...,"[graduat, research, assist, summari, to, obtai..."
438,547,java developer,STUDENT ASSISTANT Qualificati...,"[student, assist, qualif, algorithm, java, sof..."
439,548,java developer,YW TEAM LEAD Summary ...,"[yw, team, lead, summari, motiv, team, lead, p..."
440,549,java developer,SENIOR APPLICATION ADMINISTRATOR & SO...,"[senior, applic, administr, solut, architect, ..."

In [ ]:
dm = [0, 1]
vector_size = [200, 300, 400, 500, 600, 700]
window = [3, 5, 10]
epochs = [10, 20, 30]
paramsList = [{'dm': item[0],
               'vector_size': item[1],
               'window': item[2],
               'epochs' : item[3],
               } for item in
                 list(itertools.product(*[dm,
                                          vector_size,
                                          window,
                                          epochs]))
              ]

In [ ]:
def evaluation_doc2vec(params, processed_corpus, top=10):
  tagged_corpus = [TaggedDocument(d, [i]) for i, d in enumerate(processed_corpus)]
  scoreList = []
  for param in params:
    param['score'] = 0
    model = None
    try:
      model = Doc2Vec(tagged_corpus,
                      dm=param['dm'], 
                      vector_size=param['vector_size'], 
                      window=param['window'], 
                      min_count=1, 
                      epochs=param['epochs'], 
                      hs=1)
      for i in range(len(resumeDf)):
        new_doc = resumeDf['cleaned_resume'][i]
        test_doc_vector = model.infer_vector(new_doc)
        sims=model.docvecs.most_similar(positive=[test_doc_vector])
        topSims = sims[:10]
        for ii in range(len(topSims)):
          if (resumeDf['category'][i]) == (resumeDf['category'][topSims[ii][0]]):
            param['score'] = param['score'] + (top - ii)
      print(param)
      scoreList.append(param)
    except Exception as error:
      print(f'Cannot evaluate model with parameters {param} because of error: {error}')
      continue
  return scoreList

In [ ]:
scoreList = evaluation_doc2vec(paramsList ,resumeDf['cleaned_resume'].values)
scoreList = pd.DataFrame(scoreList)
scoreList = scoreList.sort_values(by = ['score'], ascending = False)
print(scoreList)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: DeprecationWarning: Call to deprecated `docvecs` (The `docvecs` property has been renamed `dv`.).

{'dm': 0, 'vector_size': 200, 'window': 3, 'epochs': 10, 'score': 13687}
{'dm': 0, 'vector_size': 200, 'window': 3, 'epochs': 20, 'score': 12864}
{'dm': 0, 'vector_size': 200, 'window': 3, 'epochs': 30, 'score': 12528}
{'dm': 0, 'vector_size': 200, 'window': 5, 'epochs': 10, 'score': 13625}
{'dm': 0, 'vector_size': 200, 'window': 5, 'epochs': 20, 'score': 12870}
{'dm': 0, 'vector_size': 200, 'window': 5, 'epochs': 30, 'score': 12545}
{'dm': 0, 'vector_size': 200, 'window': 10, 'epochs': 10, 'score': 13540}
{'dm': 0, 'vector_size': 200, 'window': 10, 'epochs': 20, 'score': 12851}
{'dm': 0, 'vector_size': 200, 'window': 10, 'epochs': 30, 'score': 12662}
{'dm': 0, 'vector_size': 300, 'window': 3, 'epochs': 10, 'score': 13647}
{'dm': 0, 'vector_size': 300, 'window': 3, 'epochs': 20, 'score': 12707}
{'dm': 0, 'vector_size': 300, 'window': 3, 'epochs': 30, 'score': 12743}
{'dm': 0, 'vector_size': 300, 'window': 5, 'epochs': 10, 'score': 13592}
{'dm': 0, 'vector_size': 300, 'window': 5, 'epochs': 20, 'score': 12776}
{'dm': 0, 'vector_size': 300, 'window': 5, 'epochs': 30, 'score': 12625}
{'dm': 0, 'vector_size': 300, 'window': 10, 'epochs': 10, 'score': 13651}
{'dm': 0, 'vector_size': 300, 'window': 10, 'epochs': 20, 'score': 12939}
{'dm': 0, 'vector_size': 300, 'window': 10, 'epochs': 30, 'score': 12727}
{'dm': 0, 'vector_size': 400, 'window': 3, 'epochs': 10, 'score': 13587}
{'dm': 0, 'vector_size': 400, 'window': 3, 'epochs': 20, 'score': 12813}
{'dm': 0, 'vector_size': 400, 'window': 3, 'epochs': 30, 'score': 12677}
{'dm': 0, 'vector_size': 400, 'window': 5, 'epochs': 10, 'score': 13570}
{'dm': 0, 'vector_size': 400, 'window': 5, 'epochs': 20, 'score': 12803}
{'dm': 0, 'vector_size': 400, 'window': 5, 'epochs': 30, 'score': 12709}
{'dm': 0, 'vector_size': 400, 'window': 10, 'epochs': 10, 'score': 13607}
{'dm': 0, 'vector_size': 400, 'window': 10, 'epochs': 20, 'score': 12829}
{'dm': 0, 'vector_size': 400, 'window': 10, 'epochs': 30, 'score': 12616}
{'dm': 0, 'vector_size': 500, 'window': 3, 'epochs': 10, 'score': 13572}
{'dm': 0, 'vector_size': 500, 'window': 3, 'epochs': 20, 'score': 12928}
{'dm': 0, 'vector_size': 500, 'window': 3, 'epochs': 30, 'score': 12690}
{'dm': 0, 'vector_size': 500, 'window': 5, 'epochs': 10, 'score': 13681}
{'dm': 0, 'vector_size': 500, 'window': 5, 'epochs': 20, 'score': 12913}
{'dm': 0, 'vector_size': 500, 'window': 5, 'epochs': 30, 'score': 12651}
{'dm': 0, 'vector_size': 500, 'window': 10, 'epochs': 10, 'score': 13524}
{'dm': 0, 'vector_size': 500, 'window': 10, 'epochs': 20, 'score': 12849}
{'dm': 0, 'vector_size': 500, 'window': 10, 'epochs': 30, 'score': 12686}
{'dm': 0, 'vector_size': 600, 'window': 3, 'epochs': 10, 'score': 13599}
{'dm': 0, 'vector_size': 600, 'window': 3, 'epochs': 20, 'score': 12913}
{'dm': 0, 'vector_size': 600, 'window': 3, 'epochs': 30, 'score': 12758}
{'dm': 0, 'vector_size': 600, 'window': 5, 'epochs': 10, 'score': 13572}
{'dm': 0, 'vector_size': 600, 'window': 5, 'epochs': 20, 'score': 12927}
{'dm': 0, 'vector_size': 600, 'window': 5, 'epochs': 30, 'score': 12671}
{'dm': 0, 'vector_size': 600, 'window': 10, 'epochs': 10, 'score': 13597}
{'dm': 0, 'vector_size': 600, 'window': 10, 'epochs': 20, 'score': 13001}
{'dm': 0, 'vector_size': 600, 'window': 10, 'epochs': 30, 'score': 12705}
{'dm': 0, 'vector_size': 700, 'window': 3, 'epochs': 10, 'score': 13661}
{'dm': 0, 'vector_size': 700, 'window': 3, 'epochs': 20, 'score': 12824}
{'dm': 0, 'vector_size': 700, 'window': 3, 'epochs': 30, 'score': 12765}
{'dm': 0, 'vector_size': 700, 'window': 5, 'epochs': 10, 'score': 13575}
{'dm': 0, 'vector_size': 700, 'window': 5, 'epochs': 20, 'score': 12892}
{'dm': 0, 'vector_size': 700, 'window': 5, 'epochs': 30, 'score': 12675}
{'dm': 0, 'vector_size': 700, 'window': 10, 'epochs': 10, 'score': 13632}
{'dm': 0, 'vector_size': 700, 'window': 10, 'epochs': 20, 'score': 12820}
{'dm': 0, 'vector_size': 700, 'window': 10, 'epochs': 30, 'score': 12698}
{'dm': 1, 'vector_size': 200, 'window': 3, 'epochs': 10, 'score': 13239}
{'dm': 1, 'vector_size': 200, 'window': 3, 'epochs': 20, 'score': 13472}
{'dm': 1, 'vector_size': 200, 'window': 3, 'epochs': 30, 'score': 13596}
{'dm': 1, 'vector_size': 200, 'window': 5, 'epochs': 10, 'score': 12807}
{'dm': 1, 'vector_size': 200, 'window': 5, 'epochs': 20, 'score': 13008}
{'dm': 1, 'vector_size': 200, 'window': 5, 'epochs': 30, 'score': 13408}
{'dm': 1, 'vector_size': 200, 'window': 10, 'epochs': 10, 'score': 12164}
{'dm': 1, 'vector_size': 200, 'window': 10, 'epochs': 20, 'score': 12488}
{'dm': 1, 'vector_size': 200, 'window': 10, 'epochs': 30, 'score': 12370}
{'dm': 1, 'vector_size': 300, 'window': 3, 'epochs': 10, 'score': 13200}
{'dm': 1, 'vector_size': 300, 'window': 3, 'epochs': 20, 'score': 13413}
{'dm': 1, 'vector_size': 300, 'window': 3, 'epochs': 30, 'score': 13653}
{'dm': 1, 'vector_size': 300, 'window': 5, 'epochs': 10, 'score': 12753}
{'dm': 1, 'vector_size': 300, 'window': 5, 'epochs': 20, 'score': 13140}
{'dm': 1, 'vector_size': 300, 'window': 5, 'epochs': 30, 'score': 13344}
{'dm': 1, 'vector_size': 300, 'window': 10, 'epochs': 10, 'score': 12325}
{'dm': 1, 'vector_size': 300, 'window': 10, 'epochs': 20, 'score': 12412}
{'dm': 1, 'vector_size': 300, 'window': 10, 'epochs': 30, 'score': 12609}
{'dm': 1, 'vector_size': 400, 'window': 3, 'epochs': 10, 'score': 13054}
{'dm': 1, 'vector_size': 400, 'window': 3, 'epochs': 20, 'score': 13407}
{'dm': 1, 'vector_size': 400, 'window': 3, 'epochs': 30, 'score': 13641}
{'dm': 1, 'vector_size': 400, 'window': 5, 'epochs': 10, 'score': 12835}
{'dm': 1, 'vector_size': 400, 'window': 5, 'epochs': 20, 'score': 13159}
{'dm': 1, 'vector_size': 400, 'window': 5, 'epochs': 30, 'score': 13271}
{'dm': 1, 'vector_size': 400, 'window': 10, 'epochs': 10, 'score': 12357}
{'dm': 1, 'vector_size': 400, 'window': 10, 'epochs': 20, 'score': 12350}
{'dm': 1, 'vector_size': 400, 'window': 10, 'epochs': 30, 'score': 12595}
{'dm': 1, 'vector_size': 500, 'window': 3, 'epochs': 10, 'score': 13180}
{'dm': 1, 'vector_size': 500, 'window': 3, 'epochs': 20, 'score': 13315}
{'dm': 1, 'vector_size': 500, 'window': 3, 'epochs': 30, 'score': 13571}
{'dm': 1, 'vector_size': 500, 'window': 5, 'epochs': 10, 'score': 12891}
{'dm': 1, 'vector_size': 500, 'window': 5, 'epochs': 20, 'score': 13091}
{'dm': 1, 'vector_size': 500, 'window': 5, 'epochs': 30, 'score': 13485}
{'dm': 1, 'vector_size': 500, 'window': 10, 'epochs': 10, 'score': 12317}
{'dm': 1, 'vector_size': 500, 'window': 10, 'epochs': 20, 'score': 12542}
{'dm': 1, 'vector_size': 500, 'window': 10, 'epochs': 30, 'score': 12589}
{'dm': 1, 'vector_size': 600, 'window': 3, 'epochs': 10, 'score': 13073}
{'dm': 1, 'vector_size': 600, 'window': 3, 'epochs': 20, 'score': 13442}
{'dm': 1, 'vector_size': 600, 'window': 3, 'epochs': 30, 'score': 13543}
{'dm': 1, 'vector_size': 600, 'window': 5, 'epochs': 10, 'score': 12791}
{'dm': 1, 'vector_size': 600, 'window': 5, 'epochs': 20, 'score': 13083}
{'dm': 1, 'vector_size': 600, 'window': 5, 'epochs': 30, 'score': 13389}
{'dm': 1, 'vector_size': 600, 'window': 10, 'epochs': 10, 'score': 12218}
{'dm': 1, 'vector_size': 600, 'window': 10, 'epochs': 20, 'score': 12376}
{'dm': 1, 'vector_size': 600, 'window': 10, 'epochs': 30, 'score': 12572}
{'dm': 1, 'vector_size': 700, 'window': 3, 'epochs': 10, 'score': 13115}
{'dm': 1, 'vector_size': 700, 'window': 3, 'epochs': 20, 'score': 13511}
{'dm': 1, 'vector_size': 700, 'window': 3, 'epochs': 30, 'score': 13646}
{'dm': 1, 'vector_size': 700, 'window': 5, 'epochs': 10, 'score': 12823}
{'dm': 1, 'vector_size': 700, 'window': 5, 'epochs': 20, 'score': 13147}
{'dm': 1, 'vector_size': 700, 'window': 5, 'epochs': 30, 'score': 13304}
{'dm': 1, 'vector_size': 700, 'window': 10, 'epochs': 10, 'score': 12329}
{'dm': 1, 'vector_size': 700, 'window': 10, 'epochs': 20, 'score': 12364}
{'dm': 1, 'vector_size': 700, 'window': 10, 'epochs': 30, 'score': 12607}
     dm  vector_size  window  epochs  score
0     0          200       3      10  13687
30    0          500       5      10  13681
45    0          700       3      10  13661
65    1          300       3      30  13653
15    0          300      10      10  13651
..   ..          ...     ...     ...    ...
105   1          700      10      10  12329
69    1          300      10      10  12325
87    1          500      10      10  12317
96    1          600      10      10  12218
60    1          200      10      10  12164

[108 rows x 5 columns]

In [ ]:
scoreList.to_csv('./resume_tuning.csv')